// Place all the styles related to the UserTasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#task-form {
  display: none;
  margin: 20px;
}

#topper{
  margin: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}

h1 {
  text-align: center;
}

#form {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}

#sign-in {
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}

body {
    background-image: url("mem.png");
    background-attachment: fixed;
}

a {
  color: #000;
  background-color: #9c79fc;
  padding: 3px;
  border-radius: 3px;
}

a:hover {
  text-decoration: none;
  color: #FFF;
}

a:active {
  color: #000;
  text-decoration: none;
}

.create {
  background-color: #9c79fc;
  padding: 2px;
  border-radius: 3px;
}.create:hover {
    background-color: #9c79fc;
    color: #fff;
}.create:active {
    background-color: #9c79fc;
    color: #fff;
}

.individual-task {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
}

