<p id="notice"><%= notice %></p>

<h1>a nice to-do list</h1>

<br>
<%= link_to 'new task', new_user_task_path, remote: true, class: 'btn btn-default' %>

<br>
<br>

<div id="task-form">
</div>

<br>
<br>

<div id="tasks">
  <%= render @user_tasks %>
</div>


