<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div id="topper">
        <h1>a nice to-do list</h1>

        <center><%= link_to new_user_task_path, remote: true do %><%= fa_icon "plus" %> add new task <% end %></center>
      </div>

      <div id="task-form">
      </div>

      <div id="tasks">
        <%= render @user_tasks %>
      </div>

    </div>
  </div>
</div>


